img{
    width:70px ;
}
mat-card{
    padding: 30px;
}
.data{
    margin-left: 10px;
    display: inline-flex;
}
.headers-align{
 padding: 60px;   

}
.getInput{
    width:99% ;
}
.form-field  {
    width:49% ;
    padding: 3px;
}
.mat-card:not([class*=mat-elevation-z]){
    box-shadow: none;;
}
.disabled {
    text-align: center;
    font-size: 40px;
    padding-top: 200px;
    color: gray;
    pointer-events: none;
    opacity: 0.4;
  }
  .mat-expansion-panel{
      //border: 1px solid rgba(0, 0, 0, 0.37);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .cart{
      background-color: rgba(128, 128, 128, 0.486);
  }